@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box; /* Fixed typo here */
}

body {
  scroll-behavior: smooth;
  @apply bg-neutral-900 text-neutral-300; /* Added semicolon */
  padding: 0;
  margin: 0;
}
